body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:50vw;
}
#request-form{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 5px;
    border :3px solid black;
    border-radius: 10px;
}
label{
    font-size:20px;
    font-style:helvetica;
    width: 100%;
}
input{
    justify-self: flex-start;
    height: 25px;
    padding: 10px;
    width:97%;
    border-top :none;
    border-right:none;
    border-left: none ;
}
#button button{
    background-color: #ddc52cd8;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.2rem;
    font-style:helvetica;
    margin-top:7px;
    padding: 0.6rem 1.4rem;
    border: none;
    cursor: pointer;
}
#button button:hover{
    background-color: #ddc52c99;
}
#button button{
    height: 40px;
}
#frgt_button button{
    background-color:#f5f5f5;
    color:purple;
    border-radius: none;
    font-size: 0.8rem;
    font-style:normal;
    font-style:helvetica;
    padding:0.4rem 1.4rem;
    border:none;
    cursor:pointer;
}
#frgt_button button:hover{
    text-decoration: underline;
}
#frgt_button button{
    height:none;
}